---
BasedOnStyle: LLVM
Language: Cpp

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 88

BreakBeforeBraces: Custom
BraceWrapping:
    AfterFunction: true
    AfterControlStatement: Always
    AfterStruct: true
    AfterEnum: true
    AfterUnion: true
    BeforeElse: true
    BeforeCatch: true
    IndentBraces: false

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

DerivePointerAlignment: false
PointerAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInParens: Never

AlignConsecutiveAssignments:
    Enabled: false
AlignConsecutiveDeclarations:
    Enabled: false

BinPackArguments: false
BinPackParameters: OnePerLine

IndentCaseLabels: true
IndentCaseBlocks: true

KeepEmptyLines:
    AtStartOfBlock: false
    AtStartOfFile: true
    AtEndOfFile: false
MaxEmptyLinesToKeep: 1

SeparateDefinitionBlocks: Always
InsertNewlineAtEOF: true

SortIncludes:
    Enabled: true

ReflowComments: false

Standard: Latest
...
